<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/style/styles.css">
        <title>Your Webpage Title</title>
        <script>

    </script>
    </head>
    <body>
        <header class="search-bar">
            <div class="search-container">
                <input type="text" placeholder="Search...">
                <button class="search-button"></button>
            </div>
        </header>
        <nav class="left-nav">
            <form method="post" action="{% url 'principal_dashbord'%}">
                {% csrf_token %}
                <button class="compose-button">Compose</button>

            </form>
            <ul>
                <li><a href="#">Pending</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </nav>
        <main>
            <h1>{{ newfiles.file_no }}</h1>
        </main>
    </body>
</html>
 